fieldset{
    border-style: double;
    border: 1px blue solid;
    border-radius: 10px;
}
legend{
    font-size: 36px;
    font-weight: bold;
}
label{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}
h1{
    font-size: 45px;
    color: blue;
    text-align: right;
    border: 1px blue solid;
    border-radius: 10px;
}
.input{
    background-color: rgb(200, 231, 191);
}
.input:hover{
    background-color: blue;
}
p{
    text-align:center;
}
button{
    position: relative;
    margin: auto;
    right: 150%;
}